/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 13, 2014, 8:40:46 PM
    Author     : ZGaming
*/
.icon-header{
    border-radius: 25px;
    border-style: dashed;
    border-width: 1px;
    margin-bottom: 1px;
}

.project-navbar {
    background-color: #AF0000;
}

ul.nav.navbar-nav li:hover {
    background-color: #FF0000;
}

.login-container {
    margin-top:50px;
    border-radius: 25px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 200px;
}

.login-form-item {
    height: 50px;
    font-size: 15px;
    border-radius: 4px;
}

.form-login {
    width: 100px;
    border-radius: 5px;
}

.rounded-table {
    border-collapse:separate;
    border:1px;
    border-radius:6px;
    -moz-border-radius:6px;
}

.rounded-trtd {
    border-left:1px;
    border-top:1px;
}

.rounded-div{
    border-collapse:separate;
    border:1px;
    border-radius:6px;
    -moz-border-radius:6px;
}
.square-button{
    width:54px;
    height:35px;
}