/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 13, 2014, 8:40:46 PM
    Author     : ZGaming
*/
.icon-header{
    border-radius: 25px;
    border-style: dashed;
    border-width: 1px;
    margin-bottom: 1px;
}

.project-navbar {
    background-color: #AF0000;
}

ul.nav.navbar-nav li:hover {
    background-color: #FF0000;
}

.login-container {
    margin-top:50px;
    border-radius: 25px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 200px;
}

.login-form-item {
    height: 50px;
    font-size: 15px;
    border-radius: 4px;
}

.form-login {
    width: 100px;
    border-radius: 5px;
}

.rounded-table {
    border-collapse:separate;
    border:1px;
    border-radius:6px;
    -moz-border-radius:6px;
}

.rounded-trtd {
    border-left:1px;
    border-top:1px;
}

.rounded-div{
    border-collapse:separate;
    border:1px;
    border-radius:6px;
    -moz-border-radius:6px;
}
.square-button{
    width:54px;
    height:35px;
}

#content {
    padding-left: 5%;
    padding-right: 5%;
}

#dynamic-table {
    padding-left: 10%;
    padding-right: 10%;
}

.appointment-edit-btn {
    margin-left: 20px;
}
#appointments {
    table-layout: fixed;
    border-style: dashed;
    border-width: 1px;
}

.default-table {
    table-layout: fixed;
    border-style: dashed;
    border-width: 1px;
}
.default-table tr td {
    word-wrap: break-word;
    vertical-align:central;
    height: 50px;
}

.overflow {
    overflow-y: auto;
    
    height: 100%;
}
.appointment-modal-container {
    padding-bottom: 50px;
}
.add-appointment {
    position: absolute;
    right: 5px;
}
.hidden {
    display: none;
}

.table-header {
    margin-top: 1px;
    margin-bottom: 10.5px;
}

.table-search-box {
    padding: 5px;
    width: 100%;
    font-size: 16px;
}

.search-button {
    width: 70px;
    padding-bottom: 6px;
    padding-top: 10px;
}

.doctorSelect {
    width: 432px;
}

.doctorSelect {
    width: 432px;
}

.scrollingTBody{
    height: 50px;
    overflow-y: auto;
}

.center-block {
    display: table;
    margin-left: 10%;
    width: 80%;
}

.patient-info-textbox {
    width: 65%;
    font-size: small;
}

.patient-info-text {
    font-size: small;
    width: 17%;
    min-width: 95px;
}

.patient-info-chart {
    width: 65%;
    min-width: 150px;
    font-size: small;
}

.patient-info-chart-textbox {
    width: 31%
}

#content-patient-info {
    overflow-y: auto;
    height: 100%;
}

.appointment-modal-container {
    overflow-y: auto;
}

.btn-round {
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

.appointment-prescription-select {
    width: 120px;
}

.border-dashed {
   display: block;
   margin: auto;
   width: 75%; 
}

.delete {
    border-radius: 50px;
}

.tab-button {
    margin-bottom: -20px;
}

.patient-info-position {
    position: static;
    padding-left: 13%;
    padding-right: 13%;
    width: 100%;
}

#remoteContent .modal-dialog{
    width: 70%;
}

#remoteContent .modal-content {
    padding-top: 5%;
    padding-bottom: 5%;
}

.search-bar {
    width: 180px;
    position: absolute;
    top: 150px;
    right: -180px;
    border-radius: 20px;
}

.search-bar .input-container {
    background-color: #AF0000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    padding: 0px;
    padding-left: 5px;
}

.search-bar .reset {
    
    border-radius: 5px;
    width: 90%;
}

#open-search-bar {
    position: absolute;
    right: 0;
    top:200px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 40px;
    padding-left: 5px;
    padding-right: 5px;
    border: 0px;
    background-color: #AF0000;
}

.tab-space {
    margin-bottom: -32px;
}
